/* Colors */
.bg-beige {
  background: #F6F4F3 !important;
}

/* Index */
.flower img {
  width: 300px;
  margin: 0 auto;
}
.reverse {
  transform: rotate(180deg);
}
@media screen and (min-width: 0px) and (max-width: 400px) {
  .flower img {
    width: 60%;
    height: 50%;
  }
}

/* Events */
.eventlist {
  height: 70px;
  width: 70px;
  margin: 0 ;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
  background: #e8ecec;
  border-radius: 4px;
  padding: 6px;
}
.month, .day {
  margin: 3px 0;
  line-height: 1em;
  text-transform: uppercase;
  white-space: nowrap;
}
.month {
  font-size: 14px;
  margin-top: 8px;
}
.day {
  font-size: 26px;
}

/* Helpers */
.sans-serif {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    helvetica neue,
    helvetica,
    ubuntu,
    roboto,
    noto,
    segoe ui,
    arial,
    sans-serif;
}
.flex-auto {
  flex: auto;
}
.rounded-image {
  border-radius: 4px;
  overflow: hidden;
}
.shadow {
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}