/* Colors */
.bg-beige {
  background: #F6F4F3 !important;
}

/* Index */
.flower img {
  width: 300px;
  margin: 0 auto;
}
.reverse {
  transform: rotate(180deg);
}
@media screen and (min-width: 0px) and (max-width: 400px) {
  .flower img {
    width: 60%;
    height: 50%;
  }
}

/* Events */
.eventlist {
  height: 70px;
  width: 70px;
  margin: 0 ;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
  background: #e8ecec;
  border-radius: 4px;
  padding: 6px;
}
.month, .day {
  margin: 3px 0;
  line-height: 1em;
  text-transform: uppercase;
  white-space: nowrap;
}
.month {
  font-size: 14px;
  margin-top: 8px;
}
.day {
  font-size: 26px;
}

/* Helpers */
.flex-auto {
  flex: auto;
}
.rounded-image {
  border-radius: 4px;
  overflow: hidden;
}
.shadow {
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .2s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more →';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less ←';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  color: #999;
  font-size: .9em;
  margin-top: 8px;
}